header {
  background-color: #293039;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 28px;
}
.logo {
  width: 300px;

}
h1{
    text-align: center;
}