header {
  background-color: #293039;
  color: white;
  font-size: 28px;
}

nav {
  display: flex;
  align-items: center;
}
.logo {
  width: 300px;
}
h1 {
  text-align: center;
  font-size: 100px;
}
.slogan{
  margin-left: 50px;
  font-size: 42px;
}
